
    <form action="/add/article" method="post" class="form-group">
        <input type="text" name="title" class="form-control form-control-lg" placeholder="Title">
        <input type="text" name="author" class="form-control form-control-lg" placeholder="Body">
        <textarea name="body" id="" cols="30" rows="10"></textarea>

        <button>Submit</button>
    </form>
