<div class="container mt-5">
    <form action="/add/article" method="post">
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="author">Author</label>
        <input type="text" name="author">

        <label for="body">Body</label>
        <input type="text" name="body">

        <button>Submit</button>
    </form>
</div>